div#canvas.canvas-container.pure-u-5-6
	canvas
div#players.player-container.pure-u-1-6.pure-hidden-phone
	ul.players.clearfix
		each player in [{'number': 1, 'name': 'Larry the Stooge'}, {'number': 76, 'name': 'Moe the Stooge'}, {'number': 119, 'name': 'Curly the Stooge'}]
			li.clearfix.pure-u-1
				span.number= player.number
				span.name= player.name
		each player in [{'number': 4, 'name': 'Larry the Stooge'}, {'number': 79, 'name': 'Moe the Stooge'}, {'number': 122, 'name': 'Curly the Stooge'}]
			li.clearfix.pure-u-1
				span.number= player.number
				span.name= player.name
		each player in [{'number': 16, 'name': 'Larry the Stooge'}, {'number': 91, 'name': 'Moe the Stooge'}, {'number': 134, 'name': 'Curly the Stooge'}]
			li.clearfix.pure-u-1
				span.number= player.number
				span.name= player.name
		each player in [{'number': 5, 'name': 'Larry the Stooge'}, {'number': 80, 'name': 'Moe the Stooge'}, {'number': 123, 'name': 'Curly the Stooge'}]
			li.clearfix.pure-u-1
				span.number= player.number
				span.name= player.name
